<h1 class="page-header">ERB</h1>

<div class="panel panel-defult">
    <div class="panel-body">
        <embed src="/diagram.pdf" type="aplication.pdf" width="100%" height="600px" >
    </div>
</div>

